<div>
    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p.id)">В корзину</button>
            </td>
        </tr>
        </tbody>
    </table>

    <p></p>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li ng-repeat="p in navList" class="page-item">
                <a class="page-link" ng-click="loadPage(p)">{{p}}</a>
            </li>
        </ul>
    </nav>
</div>
